body {
	text-align: center;
	color: white;
	background-color: black;
	background-size: cover;
	font-style: italic;
}

a {
	text-decoration: none;
}
	
.container {
	display: grid;
	grid-gap: 500px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 50px;
}

#box1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

#box2 {
	grid-column: 2/4;
	grid-row: 1/2;
	padding: 10px;
	font-size: 30px;
	color: green;
}

.main-header {
	margin-bottom: 50px;
	margin-left: 50px;
}

.button {
	background-color: green;
	color: Cyan;
	padding: 5px 50px;
	font-size: 20px;
	margin: 10px;
	box-shadow: 0 0 5000px white;
}

.button:hover {
	background: white;
	color: DarkSlateGray;
	box-shadow: 0 0 5000px Lime;
}

#main-menu {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat( 6, 1fr 1fr );
}

.showcase {
	padding: 100px;
	margin-bottom: 20px;
	background-image: url(../images/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border:	5px green solid;
}

h1 {
	color: black;
	font-size: 100px;
}

h2 {
	font-size: 50px;
}

.article {
	margin-bottom: 30px;
	border:	5px green solid;
}

.container1 > div {
	padding: 150px;
	text-align:	center;
	margin-bottom: 10px;
	border:	5px green solid;
}

.container1 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;

}

#box3 {
	grid-column: 1/2;
	grid-row: 1/2;
	border:	5px green solid;
	background-image: url(../images/14.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#box4 {
	grid-column: 2/3;
	grid-row: 1/2;
	border:	5px green solid;
	background-image: url(../images/15.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#box5 {
	grid-column: 3/3;
	grid-row: 1/2;
	border:	5px green solid;
	background-image: url(../images/16.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#box6 {
	grid-column: 1/2;
	grid-row: 2/2;
	border:	5px green solid;
	background-image: url(../images/17.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#box7 {
	grid-column: 2/3;
	grid-row: 2/2;
	border:	5px green solid;
	background-image: url(../images/18.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


#box8 {
	grid-column: 3/3;
	grid-row: 2/2;
	border:	5px green solid;
	background-image: url(../images/19.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer {
	padding: 10px;
	background-color: Black;
	margin-bottom: 10px;
	color: White;
	border:	5px green solid;
	text-align: center;
}